
$black : #0a0a0a;
$white : #ffffff;
$charcoal: #191a1a;
$gray : #ffffff80;
$green: #1ff990;
$green : #b0ff92;
$blue : rgb(123 31 249);
$lblue : rgb(123 31 249 / 28%);

$max-width : 1000px;
$base-font : sans-serif;
$h2 : clamp(1.5rem, 1.75vw + 1rem, 3rem);

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

* {
        box-sizing: border-box;
        padding : 0;
        margin : 0;
}
p{
        line-height: 1.5em;
}
h2 {
        font-size : $h2 !important;
        font-weight : 500 !important;
        font-style: italic;
}
html {
        scroll-behavior: smooth;
        cursor : url('https://www.aamirshaikh.net/_next/static/media/phosphor-doublecaret.3586ff19.svg'),auto;
}
body {
      //cursor : url('../assets/images/pointer.png'),auto;
      font-size : 16px;  
      background-color: $black;
      font-family: "Spline Sans Mono", sans-serif;
}

@media (max-width : 500px){
        body {
                font-size : 14px;
        }
}
.stiff {
        width : 100%;
        max-width : $max-width !important;
        margin : 0 auto;
}
.italic {
        font-style : italic !important;
        color : $green;
}